{% extends "_layouts/cp" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Weather" %}

{% block content %}

<form>

  {{ forms.textField({
    first: false,
    label: 'Latitude',
    name: 'lat',
    value: ''
  }) }}

  {{ forms.textField({
    first: false,
    label: 'Longitude',
    name: 'lon',
    value: ''
  }) }}

  {{ forms.selectField({
    first: false,
    label: 'Unit of Measurement',
    name: 'units',
    value: '',
    options: {
      imperial: 'Imperial',
      metric: 'Metric'
    }
  }) }}

  {{ forms.textField({
    first: false,
    label: 'Cache Duration',
    name: 'cache',
    type: 'number',
    min: 60,
    value: '',
    instructions: 'Time in seconds. 300 would save data for 5 minutes. Data will be cached for a minumum of 60 seconds.'
  }) }}

</form>

{% endblock %}